<div class="span6 offset5 ice-box text-center">

	<h1 class="font-family">
		Welcome to Tepper
	</h1>

	<br/>
	
	<h2>
		This page provides you all the useful links
	</h2>

	<%= link_to 'Launch', '#', :class => 'btn btn-inverse' %>

</div>